<!-- argin top auto keeps the footer elemnt at the bottom of the parent element-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Launch 2020</span>
    </div>
</footer>